<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/static/css/postDetail.css" />

    <!-- 부트스트랩 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detail</title>
  </head>
  <body>
    <%- include("nav") %>
    <div class="allContainer">
      <div class="carosel">
        <div class="caroselContainer">
          <img
            class="caroselImg"
            src="/static/images/mainCarosel.jpg"
            alt="carosel image"
          />
          <div class="overlay"></div>
        </div>
      </div>

      <div class="detailContainer">
        <div class="detailBox">
          <% if (modifiedPost.image_url) { %>
          <div class="modifyImg">
            <img
              class="modifiedPost-image"
              src="<%= modifiedPost.image_url %>"
              alt="게시글 이미지"
            />
          </div>
          <% } %>
          <div class="profileContainer">
            <div class="topContainer">
              <div class="post-card">
                <h1><%= modifiedPost.title %></h1>
                <div class="  ">
                  <div
                    class="favoriteIcon"
                    onclick="heart(event)"
                    data-fav="<%= modifiedPost.favorite ? '1' : '0' %>"
                    data-id="<%= modifiedPost.id %>"
                  >
                    <img
                      src="<%= modifiedPost.favorite ? '../static/images/favoriteFillIcon.png' : '../static/images/favoriteIcon.png' %>"
                    />
                  </div>
                  <span class="like-count"
                    ><%= modifiedPost.like_count || 0 %>
                  </span>
                </div>
              </div>
              <div class="profile">
                <div class="userInfo">
                  <button
                    type="button"
                    class="btn btn-primary modalBtn"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                  >
                    <img
                      src="<%= author.image_url ? author.image_url : '/static/images/profile.png' %>"
                      alt="profile image"
                    />
                  </button>

                  <!-- 모달 -->
                  <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    data-bs-focus="false"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">
                            <%= author.username %> 님 프로필
                          </h1>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div class="topModal">
                            <div class="profileImg">
                              <img
                                src="<%= author.image_url ? author.image_url : '/static/images/profile.png' %>"
                                alt="profile image"
                              />
                              <p><%= author.username %></p>
                              <hr />
                              <p><%= author.introduction %></p>
                            </div>
                          </div>

                          <div class="btnContainer">
                            <% if(author.id === currentUserId){ %>
                            <button
                              type="button"
                              class="postBtn"
                              onclick="goToMyPost('myPost')"
                            >
                              내 글 보러가기
                            </button>
                            <button
                              type="button"
                              class="postBtn"
                              onclick="moveUrl('myPage')"
                            >
                              내 정보 변경하기
                            </button>
                            <% } else { %>
                            <button
                              type="button"
                              class="postBtn"
                              onclick="moveAuthor('<%= author.id %>')"
                            >
                              작성자 글 보러가기
                            </button>

                            <% } %>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="flexColumn">
                    <p class="nameText"><%= author.username %></p>
                    <p>
                      🕒 작성일: <%= new
                      Date(modifiedPost.createdAt).toLocaleDateString() %>
                    </p>
                  </div>
                </div>
                <div
                  class="post-actions"
                  data-current-user-id="<%= currentUserId %>"
                  data-post-id="<%= postId %>"
                >
                  <button
                    class="edit-btn"
                    onclick="moveToModify('<%= modifiedPost.id %>')"
                  >
                    수정
                  </button>
                  <button
                    class="delete-btn"
                    onclick="deletePost('<%= modifiedPost.id %>')"
                  >
                    삭제
                  </button>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="textContainer">
            <div class="post-content">
              <p><%- modifiedPost.content %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="upBtn" onclick="rollUp()">
      <img src="/static/images/arrowupward.png" alt="arrow upward icon" />
    </button>
    <script src="/static/js/postDetail.js"></script>
  </body>
</html>
