<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detail</title>
  </head>
  <body>
    <%- include("nav") %>
    <div class="backColor">
      <div class="carosel">
        <div class="caroselContainer">
          <img
            class="caroselImg"
            src="/static/images/mainCarosel.jpg"
            alt="carosel image"
          />
          <div class="overlay"></div>
        </div>
      </div>
      <div class="post-header">
        <h1><%= modifiedPost.title %></h1>
        <p>
          🕒 작성일: <%= new Date(modifiedPost.createdAt).toLocaleDateString()
          %>
        </p>
      </div>

      <% if (modifiedPost.image_url) { %>
      <img
        class="modifiedPost-image"
        src="<%= modifiedPost.image_url %>"
        alt="게시글 이미지"
        width="100px"
        height="100px"
      />
      <% } %>

      <div class="post-content">
        <p><%- modifiedPost.content %></p>
      </div>


      <
      <div
        class="post-actions"
        data-current-user-id="<%= currentUserId %>"
        data-post-id="<%= postId %>"
      >
        <button class="edit-btn">수정</button>
        <button class="delete-btn">삭제</button>
      </div>

      <%- include("footer") %>
    </div>
    <script src="/static/js/postDetail.js"></script>
  </body>
</html>
