<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detail</title>
  </head>
  <body>
    <%- include("nav") %>
    <div class="backColor">
      <div class="carosel">
        <div class="caroselContainer">
          <img
            class="caroselImg"
            src="/static/images/mainCarosel.jpg"
            alt="carosel image"
          />
          <div class="overlay"></div>
        </div>
      </div>
      <div class="post-header">
        <h1><%= post.title %></h1>
        <p>🕒 작성일: <%= new Date(post.createdAt).toLocaleDateString() %></p>
      </div>

      <% if (post.image_url) { %>
      <img
        class="post-image"
        src="<%= post.image_url %>"
        alt="게시글 이미지"
        width="100px"
        height="100px"
      />
      <% } %>

      <div class="post-content">
        <p><%- post.content %></p>
      </div>
      <<<<<<< HEAD <%- include("footer") %> ======= <% if (userId &&
      Number(modifiedPost.user_id) === Number(userId)) { %>
      <div class="post-actions">
        <a href="/post/edit/<%= modifiedPost.id %>" class="edit-btn">✏️ 수정</a>
        <button onclick="deletePost(<%= modifiedPost.id %>)" class="delete-btn">
          🗑 삭제
        </button>
      </div>
      <% } %> >>>>>>> b466f96b421763257c7f29eb49738bffdb32383c
    </div>
  </body>
</html>
